/* VARS */
$LA: "Lato", sans-serif;
$MO: "Montserrat";
$RO: "Roboto";
/* VARS */
.wrapper {
  margin-right: calc(-1 * (100vw - 100%));
  padding: 100px 20px 50px;
  .main {
    display: flex;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
    .menu {
      background-color: #f4f6f8;
      flex: 0 0 250px;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      height: 600px;
    }
    .tasks {
      background-color: #fff;
      flex: 0 0 560px;
      .container {
        padding: 50px 65px 0 55px;
      }
    }
  }
}
